.medpart{
  display: flex;
}
.LEFT{
  background-color: red;
  width: 100%;
  height: 21cm;
}
.RIGHT{
  width: 100%;
  height: 5cm;
  /* background-color: aqua; */
  z-index: -1;
}
.mypicphoto{
  width: 20cm;
  height: 23cm;
  position: relative;
  left: 10cm;
  /* top: 0.1cm; */
  /* top: -100px; */
  /* border: solid black 100px; */
  border-radius: 50%;
  bottom: 2cm;
  /* z-index: ; */

}
.cir1{
  background-color: rgb(255, 187, 0);
  width: 40cm;
  filter: blur(10px);
  position: relative;
  top: 6cm;
  right: 7cm;
  height: 13cm;
  border-radius: 50%;
  z-index: -2;
}
