*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
 
    /* background-color: black; */
}
.nav-bar{

    background-color: rgba(255, 255, 255, 0.22);
 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position:fixed;
    width: 100%;
    height: 2cm;
    display: flex;
}
.Left-nav{

    width: 50%;
    height: 2cm;
 
}
.Right-nav{
   
    width: 100%;
    height: 2cm;
}
#meenubutt1{
    display: none;
}
#meenubutt2{
    display: none;
}
#ulman{
    display: flex;
    position: relative;
    right: 6cm;
}
.menlink{
    padding: 6px;
    text-decoration: none;
    font-size: 0.7cm;
    font-family: Arial black  ;
    border-width: 10px;
    color: rgb(214, 139, 0);
    width: 4cm;
    text-align: center;
    border-radius: 20px;
    height: 1cm;
   position: relative;
   top: 5px;   
}

.menlink:hover{
    
    border-color: rgb(255, 196, 0);
    background-color: rgb(255, 196, 0);
    color: rgb(255, 255, 255);
}

.menli{
    display: flex;
    /* padding: 0.2cm; */
    position: relative;
    top: 0.2cm;
    left: 2cm;
}

#m1{
    background-color: rgb(255, 196, 2);
       
        width: 7cm;
        height: 1.4cm;
    
        border-style: solid;
        border-width: 0px;

        border-radius: 20px;
        border-color: rgb(255, 196, 2);
        font-size: 18px;
        text-align: left ;
        cursor: pointer;
        text-align: center;
        position: relative;
        left: 20cm;
        bottom: 1.1cm;

}
/* .bb{
    position: relative;
    bottom: 2px;
    left: 9px;
} */
@media screen and (max-width: 500px) {

    .nav-bar{

        background-color: rgba(255, 255, 255, 0.22);
     
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter:blur(5px);
        -webkit-backdrop-filter: blur(5px);
        
        width: 100%;
        height: 2cm;
        display: flex;
    }
    /* .m11{
        display: block;
        position: relative;
        left: -20px;
        
        bottom: 1.2cm;
    } */
    
    #ulman{
        display: none;
        position: relative;
        right: 180px;
        bottom: 1cm;
        background-color: rgb(255, 255, 255);
        height: 600px;
        
        /* background-color: rgba(255, 255, 255, 0.22); */
 
        box-shadow: 0 1px 80px rgba(0, 0, 0, 0.1);
       
    }
    #meenubutt1{
        display: block;
        width: 1.5cm;
        height: 1cm;
        /* display: none; */
        cursor: pointer;
        position: relative;
        right: 2.9cm;
        top: 0.5cm;
    }

    #meenubutt2{
        display: none;
        width: 1.5cm;
        height: 1cm;
        /* display: none; */
        cursor: pointer;
        position: relative;
        right: 2.9cm;
        top: 0.5cm;
        z-index: +5;
    }


    .menlink{
        text-decoration: none;
        font-size: 0.6cm;
        font-family: Arial black  ;
        border-width: 5px;
        color: rgb(255, 166, 0);
        width: 4cm;
        text-align: center;
        border-radius: 20px;
        height: 1cm;
       
    }
    .menlink::after{

        border-color: rgb(255, 196, 0);
        background-color: rgb(255, 196, 0);
        color: rgb(255, 255, 255);
    }
    .menli{
        /* display: block; */
        display: block;
        padding: 20px;
        position: relative;
        top: 3cm;
        left: 2cm;
        
    }
    #m1{
        background-color: rgb(255, 196, 2);
           
            width: 3cm;
            height: 0.9cm;
        
            border-style: solid;
            border-width: 0px;
    
            border-radius: 20px;
            border-color: rgb(255, 196, 2);
            font-size: 13px;
            text-align: left ;
            cursor: pointer;
            text-align: center;
            position: relative;
            left: 3cm;
            bottom: 0.5cm;
    
    }
}
